/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* basic reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif; /* import at header on html tag */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7; /* 1.7 times of font-size */
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;

    /* Linear gradient to right bottom at ther corner and used rgba to transparent color with background image */
    background-image: Linear-gradient(to right bottom, 
                    rgba(126, 213, 111, 0.8), 
                    rgba(40, 180, 131, 0.8)), 
                    url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    /* center is on the top left side */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.heading-primary {
    color: white;
    text-transform: uppercase;

    /* sometime when anima do will have a little bit move down so it will fix */
    backface-visibility: hidden;
}

.header-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInLeft;
    animation-duration: 1s;

    /* cubic-bezier is function to make animation how fast is it or how slow is it */
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.header-primary-sub{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;

    animation-name: moveInRight;
    animation-duration: 1s;

    /* cubic-bezier is function to make animation how fast is it or how slow is it */
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}